.dots-navigation {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 3;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: rgba(255, 255, 255, 0.9);
}

.bg-custom-gradient {
    background: linear-gradient(to bottom, #2596be, #f6d8b8);
    /* Gradient from top to bottom */
}

.lao-muang {
    font-family: 'Lao Muang Don', serif;
  }
  .laila {
    font-family: 'Laila', serif;
  }
.kalam {
    font-family: 'Kalam', sans-serif;
  }
  .mynerve {
    font-family: 'Mynerve', cursive;
  }
  .pacifico {
    font-family: 'Pacifico', cursive;
  }
  .merienda-one {
    font-family: 'Merienda One', cursive;
  }
  .lao-sans-pro {
    font-family: 'Lao Sans Pro', sans-serif;
  }
   /* Style for Hero Slider */
   .hero-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-slide.active {
    opacity: 1;
}

.slider-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-button {
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.dots-navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #fff;
}